In [2]:
import pandas as pd
import numpy as np

# 1. Dataset: ONU Sustainability of Countries Development
> #### ONU Indexes UNSDG "United Nations Sustainable Development Group" (or simply SDG)
> #### https://www.kaggle.com/datasets/vittoriogiatti/unsdg-united-nations-sustainable-development-group

In [3]:
df1 = pd.read_csv("datasets/unsdg_2002_2021.csv")
df1

,dt_year,dt_date,country,region,level_of_development,greenhousegas_emissione_mtco2equivalent,total_government_revenue_proportion_of_gdp_perc,fdi_inflows_millionusd,annual_growth_rate_perc,proportion_of_population_with_primary_reliance_on_clean_fuels_a,mortality_rate_perc,renewable_energy_share_on_the_total_energy_consumption,co2emissions_from_fuel_combustion_in_millions_of_tonnes,fossilfuel_subsidies_consumption_and_production_billionusd,randd_expenditure_proportionofgdp_perc,national_action_plans_as_priority_national_policies,number_of_companies_publishing_sustainability_reports,education_for_sustainable_development,enhance_policy_coherence_for_sustainable_development,land_degraded_over_total_land_area
0,2002,2002-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,NaN,0.68000,0.420344,8.0,NaN,37.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,2003-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,0.120955,50.00000,0.105249,9.0,NaN,36.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,2004-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,0.176214,57.80000,-0.014901,11.0,NaN,44.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,2005-01-01,Afghanistan,Central and Southern Asia,Least Developed,19.32802,0.180929,186.90000,0.036212,12.0,0.409,33.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006,2006-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,0.302234,271.00000,0.053648,14.0,NaN,31.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,2017,2017-01-01,Zimbabwe,Sub-Saharan Africa,Developing Economies,NaN,0.139007,371.81050,0.031871,30.0,NaN,82.46,9.66,0.0,NaN,1.0,2.0,NaN,NaN,NaN
5172,2018,2018-01-01,Zimbabwe,Sub-Saharan Africa,Developing Economies,NaN,0.132036,349.41958,0.033616,30.0,NaN,80.23,11.69,0.0,NaN,NaN,2.0,NaN,NaN,NaN
5173,2019,2019-01-01,Zimbabwe,Sub-Saharan Africa,Developing Economies,NaN,NaN,744.63720,-0.095940,30.0,0.284,81.50,11.06,0.0,NaN,NaN,2.0,NaN,NaN,NaN
5174,2020,2020-01-01,Zimbabwe,Sub-Saharan Africa,Developing Economies,NaN,NaN,280.00000,-0.006748,30.0,NaN,NaN,NaN,0.0,NaN,NaN,2.0,0.0,NaN,NaN
5175,2021,2021-01-01,Zimbabwe,Sub-Saharan Africa,Developing Economies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_ld = df1.pivot_table(index='country', aggfunc='sum', values='land_degraded_over_total_land_area')
df_ld = df_ld.sort_values(by='land_degraded_over_total_land_area', ascending=False)
df_ld.reset_index(inplace=True)

In [5]:
df_ld.head(11)

         country  land_degraded_over_total_land_area
0     Tajikistan                                97.0
1         Belize                                81.0
2   South Africa                                78.0
3     Bangladesh                                65.0
4         Kuwait                                64.0
5          Benin                                53.0
6       Paraguay                                52.0
7       Botswana                                51.0
8         Mexico                                47.0
9          Kenya                                40.0
10     Argentina                                39.0

> En este dataset me parece interesante ver las relaciones entre nivel de desarrollo del país (level_of_development) y variables como tasa de mortalidad (mortality_rate_perc), territorio degradado sobre el total del territorio (land_degraded_over_total_land_area), en el contexto del uso de energías fosiles y renovables. 
> * Un indiciador significativo a nivel local es que encontramos a Argentina a un paso de entrar en el top 10 de países con mayor superficie de territorio degradado.

> Como pregunta sería interesante analizar qué aspectos se correlacionan con este indicador, buscando puntos en común entre los 10 países que conforman este top 10.

# 2. Dataset: Cause of Deaths around the World (Historical Data)
> #### This Dataset contains Historical Data on Causes of Death around the World
> #### https://www.kaggle.com/datasets/iamsouravbanerjee/cause-of-deaths-around-the-world

In [15]:
df2 = pd.read_csv("datasets/cause_of_deaths.csv", index_col=[0])
df2

,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
Country/Territory,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [16]:
# Se seleccionan datos de America del Sur
df2.reset_index(inplace=True)
stringlist = ['ARG', 'BOL', 'BRA', 'CHL', 'COL', 'ECU', 'GUY', 'PRY', 'PER', 'SUR', 'URY', 'VEN']
df2 = df2[df2['Code'].str.contains('|'.join(stringlist))]
df2 = df2.set_index("Code")
df2.head(20)

,Country/Territory,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
Code,,,,,,,,,,,,,,,,,,,,,
ARG,Argentina,1990,772,4983,1494,1323,9,1128,2024,448,...,7096,7129,308,1277,4361,9894,5943,12140,627,107
ARG,Argentina,1991,757,5161,1526,1323,9,1120,2007,433,...,7345,7261,305,1275,4502,10211,5895,12062,645,108
ARG,Argentina,1992,732,5383,1594,1322,8,1108,2105,418,...,7741,7575,300,1272,4679,10766,5961,12201,667,105
ARG,Argentina,1993,731,5609,1644,1303,8,1070,2123,406,...,8026,7788,293,1252,4843,11182,5859,12109,678,103
ARG,Argentina,1994,698,5843,1670,1297,8,1047,2226,372,...,8190,7939,287,1246,4989,11440,5758,11961,682,104
ARG,Argentina,1995,698,6142,1748,1369,7,1015,2173,388,...,8479,8372,286,1314,5082,12171,5806,12112,699,100
ARG,Argentina,1996,693,6439,1818,1452,7,1022,2276,408,...,8693,8856,287,1392,5241,12775,5921,12313,727,93
ARG,Argentina,1997,639,6749,1910,1585,7,1006,2179,396,...,9013,9620,287,1519,5383,13514,6021,12466,744,76
ARG,Argentina,1998,638,7058,2013,1712,7,998,2055,404,...,9456,10446,277,1635,5537,14362,6085,12660,747,66
ARG,Argentina,1999,616,7319,2082,1791,6,973,2169,423,...,9837,11112,280,1703,5556,14948,6100,12796,754,60
ARG,Argentina,2000,591,7516,2081,1779,6,920,2544,399,...,9715,11362,278,1693,5439,14803,5971,12632,717,55
ARG,Argentina,2001,576,7763,2125,1806,6,915,2581,437,...,9807,11823,274,1718,5486,15184,6040,12830,714,53
ARG,Argentina,2002,586,8016,2182,1903,5,893,2691,473,...,9917,12360,286,1810,5504,15645,6171,13140,715,49
ARG,Argentina,2003,591,8268,2246,1886,5,836,2430,460,...,10038,12674,288,1792,5531,16143,6255,13399,711,49
ARG,Argentina,2004,577,8476,2249,1751,5,766,2061,448,...,9835,12517,294,1664,5506,16012,6171,13287,694,48
ARG,Argentina,2005,561,8710,2257,1614,4,737,1957,429,...,9627,12468,305,1536,5622,15961,6242,13363,731,45
ARG,Argentina,2006,552,9010,2308,1537,4,718,2242,450,...,9476,12676,291,1461,5801,16102,6414,13639,705,43
ARG,Argentina,2007,554,9368,2408,1514,4,718,1894,467,...,9603,13170,306,1440,6094,16808,6743,14194,734,41
ARG,Argentina,2008,552,9633,2397,1417,4,695,2340,438,...,9193,12992,296,1349,6202,16506,6720,14143,718,39
ARG,Argentina,2009,556,9999,2442,1368,4,668,2399,489,...,9151,13172,296,1304,6281,16632,6828,14370,716,37

In [12]:
df_iv = df2.pivot_table(index='Code', aggfunc='sum', values='Interpersonal Violence')
df_iv = df_iv.sort_values(by='Interpersonal Violence', ascending=False)
df_iv

      Interpersonal Violence
Code
BRA                  1762967
COL                   709555
VEN                   266071
ARG                    72506
ECU                    69274
PER                    35797
CHL                    25098
PRY                    21556
BOL                    17062
URY                     5354
GUY                     4718
SUR                     1305

> En este dataset encontramos diversas causas de muerte, que en principio no tendrían relación, ya que van desde aspectos psico-sociales hasta aspectos hereditarios o accidentales.
> Resultaría interesante analizar los datos agrupando países según algún criterio, como por ejemplo "países de América del Sur", como en la tabla presentada, y a su vez analizar los cambios a través del tiempo.

> Por otro lado, algunas de las "causas" podrían pensarse relacionadas a niveles de desarrollo de los países, como por ejemplo la muerte por malaria. Sería interesante buscar correlaciones entre su descenso/aumento y el descenso/aumento de otras causas.

# 3. Dataset: Electricity from 200 Geographies Dataset
> #### Yearly electricity generation, capacity, emissions and demand data
> #### https://www.kaggle.com/datasets/michaelbryantds/electricity-data-for-200-geographies

In [20]:
df3 = pd.read_csv("datasets/yearly_full_release_long_format.csv", index_col=[0])
df3

,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
Area,,,,,,,,,,,,,,,,
Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,0.03,0.0,0.0
Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.0,NaN
Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,0.00,0.0,NaN
Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.00,0.0,NaN
Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,3.10,0.0,0.0

In [21]:
df_vvy = df3.pivot_table(index=['Country code','Variable'], aggfunc='sum', values=['Value', 'YoY absolute change'])
df_vvy = df_vvy.sort_values(by='YoY absolute change', ascending=False)
df_vvy.head(20)

                                                        Value  \
Country code Variable
CHN          Fossil                                 149755.03
             Coal                                   144428.02
             Total Generation                        98723.48
             Demand                                  98473.24
             Total emissions                         60249.54
             Clean                                   34607.28
             Renewables                              31071.10
IND          Coal                                    34962.44
             Fossil                                  38943.48
USA          Gas                                     44713.03
CHN          Wind and Solar                           7666.01
USA          Gas and Other Fossil                    48296.42
CHN          Hydro, Bioenergy and Other Renewables   23405.09
             Hydro                                   22114.61
IND          Total Generation                        23200.47
             Demand                                  23237.02
CHN          Wind                                     5084.56
USA          Clean                                   35642.21
             Wind and Solar                           5313.12
             Renewables                              15427.79

                                                    YoY absolute change
Country code Variable
CHN          Fossil                                             9094.70
             Coal                                               8655.56
             Total Generation                                   7128.42
             Demand                                             7120.37
             Total emissions                                    3706.86
             Clean                                              3694.04
             Renewables                                         3247.61
IND          Coal                                               1771.93
             Fossil                                             1761.98
USA          Gas                                                1759.13
CHN          Wind and Solar                                     1640.46
USA          Gas and Other Fossil                               1627.97
CHN          Hydro, Bioenergy and Other Renewables              1607.15
             Hydro                                              1383.63
IND          Total Generation                                   1142.36
             Demand                                             1139.61
CHN          Wind                                                990.84
USA          Clean                                               788.51
             Wind and Solar                                      774.33
             Renewables                                          761.93

In [22]:
df_vvy.reset_index(inplace=True)
stringlist = ['USA', 'CHN', 'IND']
df3_uc = df_vvy[df_vvy['Country code'].str.contains('|'.join(stringlist))]
df3_uc = df3_uc.set_index("Variable")
df3_uc = df3_uc.sort_values(by='YoY absolute change', ascending=False)
df3_uc

                 Country code      Value  YoY absolute change
Variable
Fossil                    CHN  149755.03              9094.70
Coal                      CHN  144428.02              8655.56
Total Generation          CHN   98723.48              7128.42
Demand                    CHN   98473.24              7120.37
Total emissions           CHN   60249.54              3706.86
...                       ...        ...                  ...
Other Fossil              USA    3583.39              -131.16
CO2 intensity             USA   10493.86              -153.98
Fossil                    USA  120382.35              -424.28
Total emissions           USA   42180.15              -451.04
Coal                      USA   72085.93             -2052.25

[61 rows x 3 columns]

> En este dataset se observan datos respecto a la generación de energía a nivel mundial, y cómo fluctúan los esfuerzos por cambiar los tipos de combustibles año a año.